html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 50rem;
    flex-direction: column;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Fira Sans, Ubuntu, Oxygen, Oxygen Sans, Cantarell, Droid Sans, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Lucida Grande, Helvetica, Arial, sans-serif;
    background: rgb(243, 242, 239);
    
}

.header {
    width: 150rem;
    height: 7.5rem;
    background: rgb(243, 242, 239);
    border-bottom: 0rem solid rgba(26, 29, 29, 0.1);
    /* backdrop-filter: blur(0.3rem); */
}

.sectionside {
    width: 100rem;
    height: 2.5rem;
    /* background: rgb(243, 242, 239); */
}

.main {
    width: 100rem;
    /* background: rgb(243, 242, 239); */
    border-bottom: 0.3rem;
    flex: 1;
    display: flex;
}

.right {
    width: 70%;
    margin: 2rem;
}

.profile {
    width: 72rem;
    height: 55rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 0.3rem;
    border: 0.06rem solid rgba(32, 34, 34, 0.5);
}

.skill {
    width: 100%;
    height: 15rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 0.3rem;
    border: 0.06rem solid rgba(32, 34, 34, 0.5);
}

.activity {
    width: 100%;
    height: 15rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 0.3rem;
    border: 0.06rem solid rgba(32, 34, 34, 0.5);
}

.experience {
    width: 100%;
    height: 25rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 0.3rem;
    border: 0.06rem solid rgba(32, 34, 34, 0.5);
}

.left {
    width: 30%;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgbox {
    width: 18.75rem;
    height: 15.6rem;
    background: rgba(255, 255, 255, 0.1);
    /* border-radius: 10px;
  border: 0.1 solid rgba(128,128,128, 0.5); */
    margin: 0.1rem;
}

.viewedbox {
    margin-top: 1rem;
    width: 18.75rem;
    height: 43rem;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    border-radius: 0.6rem;
    border: 0.06rem solid rgba(128, 128, 128, 0.3);
}

.viewechild {
    width: 100%;
    height: 100%;
}

.viewedheader {
    margin-top: 0.1;
    padding: 0.1rem 1rem 0.6rem;
    align-items: center !important;
}

.ul-custom {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0.3rem;
}

.li-custom {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 0.3rem;
    position: relative;
}

.a-custom {
    margin: 0;
    padding: 0;
    font-size: 0.6rem;
    /* vertical-align: baseline; */
    background: transparent;
    display: flex;
    text-decoration: none;
}

a:link {
    color: gray;
}

a:visited {
    color: grey;
}

a:hover {
    color: black;
    text-decoration: underline;
}

.img-custom {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    margin: 0.5rem;
}

.info-custom {
    flex: 1;
    /* display: flex;
  flex-direction: column; */
}

.h3-custom {
    line-height: 1;
    word-break: break-word;
    color: rgb(0, 0, 0);
    font-size: small;
}
.p-custom {
    font-size: medium;
}
.footer-custom {
    justify-content: center;
    align-items: center;
    display: flex;
}

.button-custom {
    color: rgba(128, 128, 128, 0.8);
    padding: 0.3rem;
    text-align: center;
    /* display: inline-block; */
    font-size: 15px;
    padding-left: 1.6rem !important;
    padding-right: 1.6rem !important;
    background: rgb(255, 255, 255);
    border-radius: 15px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    cursor: pointer;
}

.button-custom:hover {
    background: rgba(128, 128, 128, 0.2);
}

.viewedfooter {
    border-top: 0.06rem solid rgb(128, 128, 128, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-footer {
    margin-top: 0.3rem;
    color: rgba(128, 128, 128, 0.8);
    background: rgb(255, 255, 255);
    border: 0.1 solid rgba(0, 0, 0, 0.5);
    border: none;
}

.knowpeople {
    margin-top: 1rem;
    width: 18.75rem;
    height: 43rem;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 0.06rem solid rgba(128, 128, 128, 0.3);
}

.footer-container {
    /* max-width: 1128px; */
    /* display: flex; */
    /* flex-direction: column; */
    background: rgb(243, 242, 239);
}
